/* 
light background: #69c
medium light background: #369
medium dark background: #366
dark background: #036
*/
:root{
	--textColour: #fff; /* text */
	--light_bg: #999; /* top links (ul.nav)*/
	--mild_bg: #666; /* mainbox, top link hover */
	--med_bg: #333; /* h2, JSbutton */
	--strong_bg: #000; /* background */
}

*{
	color: var(--textColour);
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--strong_bg);
/*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Garamond, serif;
} 

h1, h2, h3, h4, h5, h6, li a{
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2 {
	padding: 1% 1%;
	margin: auto;
	text-align: center;
}

h2{
	font-weight: normal;
	background-color: var(--med_bg);
	width: 70%;
}

h3,p{
	font-size: 1.2em;
	/* overflow: auto; */
}

.mainbox, ul.nav{
	margin: auto;
	width: 70%;
	padding: 1% 5%;	
}
.mainbox {
	overflow: auto;
	text-align: top-left;
	/* height: 70%; */
	/*padding-bottom: 30%;*/
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: var(--mild_bg);
	line-height: 1.5em;
}	
ul.nav {
	/*margin-top: 2em;*/
	background-color: var(--light_bg);
	list-style-type: none;
	overflow: hidden;
	list-style-type: none;
}
li {
  float: left;
}
li a { /* make this a flex box or a grid or something in order for it to auto scale */
  display: block;
/*  color: white;*/
  text-align: center;
  padding: 0.9em 6.5em;
  text-decoration: none;
}
li a:hover {
  background-color: var(--mild_bg);
}

.jsButton{
  background-color: var(--med_bg);
  border: none;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  /* margin: 4px 2px; */
  cursor: pointer;
}
	

.grid-container {
	height: 80%;
	display: grid;
	grid-template-columns: auto auto auto;
	margin: auto;
	border: 1px solid var(--strong_bg);
}
.grid-item {
	border: 1px solid var(--strong_bg);
	background-color: var(--mild_bg);
	padding: 10%;
	font-size: 30px;
	text-align: center;
}