section.contact-links {
    display: flex;
    flex-direction: column;
    align-items: row;
    gap: 2rem;
}
section.contact-links-grid svg path {
    fill: var(--text);
}
section.contact-links-grid img {
    margin: 1rem;
}
section.contact-links-grid svg {
    max-width:30rem;
}
@media (max-width: 830px) {
    section.contact-links-grid svg {
	max-width: 80vw
    }
}

