section.contact-links-grid {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: row;
    gap: clamp(0.5rem, var(--vh-cubed), 4rem);
    margin-top: -1.8rem
}
section.contact-links-grid svg path {
    fill: var(--text);
}
section.contact-links-grid svg {
    width: clamp(10rem, 80vw, 30rem);
    height: auto;
}